<footer>
	<p>
		<a href="https://webpages.charlotte.edu/eroe3/itis3135/">Webspace</a>
		<a href="https://github.com/eroe3">Github.com</a>
		<a href="https://eroe3.github.io/itis3135/">github.io</a>
		<a href="https://www.freecodecamp.org/eroe3">FreeCodeCamp</a>
		<a href="https://www.codecademy.com/profiles/board9622751022">Codecademy</a>
		<a href="https://www.linkedin.com/in/ethan-roe-63766b328/">LinkedIn</a>
	</p>
	<p>Content Created by <a href="roedigital.com/index.html">Roe Digital</a>. All rights reserved.</p>
	<p>Certified in Responsive Web Design</p>
</footer>
